/* header */

position: absolute;
width: 1103.41px;
height: 29.46px;
left: 171.59px;
top: 35.02px;

/* part_1_testimonials */

position: absolute;
width: 1440px;
height: 392px;
left: -1px;
top: 1093px;

